<h1>Welcome to the Fantastic Application</h1>

<a href="/heroes/new">Add a new hero</a><br>
<a href="/heroes">View all current heroes</a>

<h1>View and add team</h1>
<a href="/teams">View Team List</a><br>
<a href="/teams/new">Add a New Team</a>
